Source: extrae
Section: unknown
Priority: optional
Maintainer: Massimiliano <massy@unknown>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/axiom-apps.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/axiom-apps.git;a=summary

Package: extrae
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EXTRAE
 Extrae is the instrumentation package that captures information
 during the program execution and generates Paraver traces.

Package: extrae-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EXTRAE - development files
 Extrae is the instrumentation package that captures information
 during the program execution and generates Paraver traces.
